
<!doctype html>
<html>
<style>
#table1
{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	width:100%;
	border-collapse:collapse;
}
#table1 td, #table1 th
{
	font-size:1em;
	border:1px solid #3393F4;
	padding:3px 7px 2px 7px;
}
#table1 th
{
	font-size:1.1em;
	text-align:left;
	padding-top:5px;
	padding-bottom:4px;
	background-color:#4793E0;
	color:#ffffff;
}
</style>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
</head>

<body>
<div class="container">
    <div id="page" class="col-md-10">
        <div id="header" class="col-md-12">

            <h1>COMP62521: {{ args.dataset }}</h1>

            <div id="navigation">
                <a class="btn btn-info" href="/">Home</a>
            </div>
        </div>

        <div id="content" class="col-md-12">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>

</body>
</html>
