{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>
<div class="col-md-12">
  <form name="input" action="/department_VS_authors" method="get" data-ajax="false" onSubmit="validateForm(this)">
  <div class="col-md-3">
    Select year:
    <input type="number" class="form-control" name="search_year" min="{{ args.min_year }}" max="{{ args.max_year }}" value="{{ args.search_year }}">
  </div>

  <div class="col-md-2" style="margin-top: 20px">
    <input type="submit" value="Submit" class="btn btn-primary">
  </div>
  <div class="col-md-7" style="margin-top: 20px"> </div>

  </form>
</div>

<div class="col-md-12" style="margin-top: 20px">
    <table class="table table-striped display"  id="table1">
    <thead>
      <tr>
      {% for column in args.depData[0] %}
        <th>{{ column }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
            <tr>
                {% for cell in args.depData[1] %}
                <td>{{ cell }}</td>
              {% endfor %}
            </tr>
        </tbody>
</table>
</div>

<div class="col-md-12" style="margin-top: 20px">
    <table class="table table-striped display"  id="table1">
    <thead>
      <tr>
      {% for column in args.data[0] %}
        <th style="cursor: pointer;">{{ column }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in args.data[1] %}
            <tr>
              {% for author_stat in row %}
                {% if row[0] == author_stat %}
                    <td><a href="/authorstatsbyclick?author={{ row[0] }}"> {{ author_stat }}</a></td>
                {% else %}
                    <td>{{ author_stat }}</td>
                {% endif %}
              {% endfor %}
            </tr>
        {% endfor %}
     </tbody>
</table>
</div>

<script type="text/javascript">
  header_arr = [];
  asc = false; // low - high
  const getCellValue = (tr, idx) =>
    tr.children[idx].innerText || tr.children[idx].textContent;

  var comparer = function (idx, asc, col_name) {
    return function (a, b) {
      return (function (v1, v2) {
        if (col_name == "Author") {
          v1_lastname = v1.split(/[\s,]+/).pop();
          v2_lastname = v2.split(/[\s,]+/).pop();

          numLastname1 = parseInt(v1_lastname.toString());
          numLastname2 = parseInt(v2_lastname.toString());

          if (isNaN(numLastname1) == false) {
            v1_lastname = v1.split(/[\s,]+/).slice(-2, -1)[0];
          }
          if (isNaN(numLastname2) == false) {
            v2_lastname = v2.split(/[\s,]+/).slice(-2, -1)[0];
          }

          return v1_lastname !== "" &&
            v2_lastname !== "" &&
            !isNaN(v1_lastname) &&
            !isNaN(v2_lastname)
            ? v1_lastname - v2_lastname
            : v1_lastname.toString().localeCompare(v2_lastname);
        } else {
          isAuthorCol = document.getElementsByTagName("th")[0].innerHTML == 'Author' // check if there is author column
          if (v1 - v2 == 0 && isAuthorCol) { // values are the same and the first col is Author
            n1 = getCellValue(a, 0); // get the value in column[0]
            n2 = getCellValue(b, 0);

            n1_lastname = n1.split(/[\s,]+/).pop();
            n2_lastname = n2.split(/[\s,]+/).pop();

            numLastname1 = parseInt(n1_lastname.toString());
            numLastname2 = parseInt(n2_lastname.toString());

            if (isNaN(numLastname1) == false) {
              n1_lastname = n1.split(/[\s,]+/).slice(-2, -1)[0];
            }
            if (isNaN(numLastname2) == false) {
              n2_lastname = n2.split(/[\s,]+/).slice(-2, -1)[0];
            }

            return n1_lastname !== "" && n2_lastname !== "" && !isNaN(n1_lastname) && !isNaN(n2_lastname)
              ? n1_lastname - n2_lastname
              : n1_lastname.toString().localeCompare(n2_lastname);

          } else {
            // numbers are different
            return v1 !== "" && v2 !== "" && !isNaN(v1) && !isNaN(v2)
              ? v1 - v2
              : v1.toString().localeCompare(v2);
          }
        }
      })(getCellValue(asc ? b : a, idx), getCellValue(asc ? a : b, idx));
    };
  };

  document.querySelectorAll("th").forEach((th) =>
    th.addEventListener("click", () => {
      const table = th.closest("table");
      const tbody = table.querySelector("tbody");
      header = Array.from(th.parentNode.children).indexOf(th);
      col_name =
        Array.from(th.parentNode.children)[header].innerText ||
        Array.from(th.parentNode.children)[header].textContent;
      if (header_arr.length == 0) {
        header_arr.push(header);
        asc = true;
      } else {
        if (header_arr.includes(header)) {
          // click the same col
          asc = false; // toggle
          header_arr.pop();
        } else {
          // click a new col
          asc = true;
          header_arr.pop();
          header_arr.push(header);
        }
      }
      Array.from(tbody.querySelectorAll("tr"))
        .sort(comparer(header, asc, col_name))
        .forEach((tr) => tbody.appendChild(tr));
    })
  );
</script>

{% endblock %}
