{% extends "base.html" %}
{% block title %}{{ args.title }}{% endblock %}
{% block content %}
<h1>{{ args.title }}</h1>
<div class="col-md-12">
  <form name="input" action="/department_VS_authors" method="get" data-ajax="false" onSubmit="validateForm(this)">
  <div class="col-md-3">
    Select year:
    <input type="number" class="form-control" name="search_year" min="{{ args.min_year }}" max="{{ args.max_year }}" value="{{ args.search_year }}">
  </div>

  <div class="col-md-2" style="margin-top: 20px">
    <input type="submit" value="Submit" class="btn btn-primary">
  </div>
  <div class="col-md-7" style="margin-top: 20px"> </div>

  </form>
</div>

<div class="col-md-12" style="margin-top: 20px">
    <table class="table table-striped display"  id="table1">
    <thead>
      <tr>
      {% for column in args.depData[0] %}
        <th>{{ column }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
            <tr>
                {% for cell in args.depData[1] %}
                <td>{{ cell }}</td>
              {% endfor %}
            </tr>
        </tbody>
</table>
</div>

<div class="col-md-12" style="margin-top: 20px">
    <table class="table table-striped display"  id="table1">
    <thead>
      <tr>
      {% for column in args.data[0] %}
        <th>{{ column }}</th>
      {% endfor %}
      </tr>
    </thead>
    <tbody>
        {% for row in args.data[1] %}
            <tr>
              {% for author_stat in row %}
                    <td>{{ author_stat }}</td>
              {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
</table>
</div>

{% endblock %}
